@charset "UTF-8";

/*  모든 요소들은 default 마진, 패딩 제거 */



header{
width:100px;
 margin: 0 auto;  
}
td.t1{
	position:absolute;
	width:180px;
	right: 5%;
	top:8%;
    color:red;
}
tab
*{margin: 0; padding: 0;}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
	}
ul:after{
	content:'';
	display: block;
	clear:both;
	}
li {
	float: left;
	}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}
li a:hover:not(.active) {
	background-color: #111;
	}
.active {
	background-color: #4CAF50;
	}