@charset "UTF-8";

/*  모든 요소들은 default 마진, 패딩 제거 */

header{
width:100px;
 margin: 0 auto;  
}

.body2{ /* iframe 여백*/
	position:relative;
	top:200px;
	width:100%;	
	height:1200; 
	
}
.zindex{
	z-index : 3;
}

td {
        text-align: center;
      }
td.t1{
	position:absolute;
	width:150px;
	right: 5%;
	top:8%;
    color:red;
}
td.t2{
	position:absolute;
	width:100px;
	right: 5%;
	top:8%;
    color:red;
}
td.t2_1{
	position:absolute;
	width:100px;
	right:1%;
	top:8%;
    color:red;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;
	}
ul:after{
	content:'';
	display: block;
	clear:both;
	}
li {
	float: left;
	
	}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 20px;  /* 상단 메뉴 높이 넓이간격*/
	text-decoration: none;
	}

	
	
li a:hover:not(.active) {
	background-color:gray;
	
	}


/*추가부분*/

/* 노말라이즈 */




/* 라이브러리 */
.con {
    margin:0 auto;
}

.img-box > img {
    width:100%;
    display:block;
}

.row::after {
    content:"";
    display:block;
    clear:both;
}

.cell {
	color:white;
    float:left;
    box-sizing:border-box;
    
}


.cell-right {
    float:right;
    box-sizing:border-box;
}

.margin-0-auto {
    margin:0 auto;
}

.block {
    display:block;
}

.inline-block {
    display:inline-block;
}

.text-align-center {
    text-align:center;
}

.line-height-0-ch-only {
    line-height:0;
    
}

.line-height-0-ch-only > * {
    line-height:normal;
}

.relative {
    position:relative;
}

.absolute-left {
    position:absolute;
    left:0;
}

.absolute-right {
    position:absolute;
    right:0;
}

.absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.width-100p {
    width:100%;
}

.table {
    display:table;
}

.table-cell {
    display:table-cell;
}

.vertical-align-top {
    vertical-align:top;
}

.vertical-align-middle {
    vertical-align:middle;
}

.vertical-align-bottom {
    vertical-align:bottom;
}

.con {
    max-width:1150px;
}

.con-min-width {
    min-width:320px;
}

html, body {
    height:100%;
    overflow-x:auto;
}

body {
    min-height:200vh;
}

.top-bar {
	
    position:absolute;
    z-index:1;
    top:180px;
    left:0%;
    right:0%;
    display:block;
    height:49px;
    transition:height 0.3s, top 0.3s, left 0.3s, right 0.3s;
    overflow-y:hidden; 		/* 상단 메뉴숨기기*/
   	
}

html.not-scroll-top-0 .top-bar {
    top:0;
    left:0;
    right:0;
}

.top-bar:hover {

	
    height:300px;
}

.top-bar > .sub-menu-bar-bg::after { /*서브메뉴*/
    
    content:"";
    position:absolute;
    top:44px;
    left:0%;
    right:0%;
    bottom:0;
    z-index:-1;
    background-color:black;
    
}

.top-bar > .menu-box-1-bg::after {  /* sub 백그라운드 */
    position:absolute;
    content:"";
    top:0;
    left:0;
    width:100%;
    height:44px;
    background-color:black;
    z-index:-1;
    
    
    
}

.top-bar > .menu-box-1 ul > li {
    position:relative;
    left:9%;  /* 서브메뉴 글자 위치*/
    
}

.top-bar > .menu-box-1 > ul ul {
    position:absolute;
    top:100%;
    left:0;
    
}
/*
.top-bar > .menu-box-1 ul > li > a {
    padding:10px;
  
}
*/
body {
    background-color:#ffffff;
    overflow-y: hidden;
}
