@charset "euc-kr";

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

ul {
  list-style: none; 
}

#container {
  margin: 0 auto;
  width: 1200px;
}


#topMenu {   
	width: 1200px;
    float: left;
    margin: auto;
    display: flex;
    background-color: antiquewhite;
    height: 100px;
    line-height: 100px;
    text-align: center;
    }

#topMenu li {
  float: left;
  width: 100%;
}

/* #topMenu > li > a {
  display: block;
  color: black;
  font-weight: 600; 
  text-shadow: black;
} */



#topMenu > li > h3:hover {
  color: white;

}

#topMenu > li :hover {
	
	 background-color: rgba(0,0,0,0.07);
}

#contents {
  width: 1200px;
/*    height: 600px; 
background-color: #c0c0c0; */
}

#links {
  width: 1200px;
  
  line-height: 50px;
/*   background-color: hotpink; */
}

#board {
 float: left;
/*   width: 1200px; */
/*   height: 550px; */
 /*  background-color: lawngreen; */
}

footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
/*   background-color: gray; */
}

a{
  text-decoration: none;
 /*  display: block; */
      cursor: pointer;
  
}

















*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container2 {
  margin: 0 auto;
  width: 1200px;
}

header {
  width: 100%;
  height: 70px;
  
  
}


h1{
  text-align: center;
  line-height: 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

.list_wrap {
 padding: 10px 70px 10px 70px;
 margin-left: 8px;
 display: inline-block;
  }

.list_wrap .item  {
  display: inline-block;
  width: 250px;
  margin-top: 40px;
  margin-left: 5%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.list_wrap .item .image {
  width: 250px;
  height: 160px;
  background-color: #ddd;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto;
}

/* .list_wrap .item strong {
  display: block;
  margin: 3px 0 5px 0;
  font-size: 16px;
  letter-spacing: -1px;
} */

.list_wrap .item .cont {
  padding: 20px;
}

.list_wrap .item p  {
  font-size: 13px;
  letter-spacing: -1px;
}

/* .list_wrap .item a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: #eee;
  font-size: 13px;
  letter-spacing: -1px;
} */

.list_wrap .item .apple:hover{
  background:green;
  color: #fff
} 

#box {
  width: 250px;
   float: left;
}

#box0{
	float: left;
	width: 1000px
}

.list_wrap .item:nth-child(-n+3) {
  margin-top: 0;
}

.list_wrap .item:nth-child(3n-2)  {
  margin-left: 0;
}

#footer {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    float: left;
 /*     background-color: lightgrey;  */
}






